@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Denne app er produceret af Good Guy Gnu</p>

@* TODO : Udfyld med rigtig mail fra mailte samt besked osv  *@
