@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Hvis du oplever problemer eller gerne vil oprettes kontakt da KSG's kasser</p>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">TyggeGnu@gmail.com</a><br />
</address>
